/* H5BP styles. */
@import "../vendor/h5bp/css/style.css";
@import "./jquery.Jcrop.css";

/* Add Stylus stylesheets here, alll files ending in .styl will be compiled!
 * For example: @import "main.styl";
 *
 * Note: All stylesheets are relative to `assets/css`.
 *
 */ 



/* Put development-only CSS below this line. */


.selectList {
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 200px;
  top: 0;
  font-size: 14px;
  font-family: 'Century Gothic W01';
}

